* {
    font-weight: 1000;
    font-size: 25px;
/*     font-family: 'Roboto', sans-serif; */
}
body {
  background-color: rgb(135,206,250)
}
.all {
    border-collapse: collapse;
    font-size: 0.95em;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    min-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
    text-align: center;
}

.line {
    display:inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;   background:url(APNGImageWithWhiteBackgroundAndASingleDiagonalLineInTheMiddle.png);
    background-size:100% 100%;
}

h1{
    padding-bottom: 3px;
    scroll-padding-top: 3px;
    text-align: center;
    font-size: 40px;
}

.all th, .all td {
    padding: 15px 20px;
}
.days {
  border-top: 2px solid black;
}
.t {
  border-left: 2px solid black;
}
.s {
  border-right: 2px solid black;
}
.time, .t {
  border-left: 2px solid black;
}
.lastrows {
  border-right: 2px solid black;
}
.lr {
  border-bottom: 2px solid black;
}
tbody tr:nth-of-type(odd){
    background-color: lightgrey;
}
@media (max-width: 500px) {
    h1 {
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
      text-align: center;
    }
    .all {
        border-collapse: s;
        font-size: 0.8em;
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        min-width: 400px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    .all th, .all td {
        padding: 10px 15px;
    }
}


/* If you want to add margins on the end of each column then add:*/
/* If only to th, if you want to add border to data as well then add ",td" */
th {
  border-right: 2px solid black;
  border-left: 2px solid black; 
  border-top: 2px solid black; 
  border-bottom: 2px solid black;
}

tr {
  border-right: 2px solid black;
  border-left: 2px solid black; 
  border-top: 2px solid black; 
  border-bottom: 2px solid black;
}

td {
  border-right: 2px solid black;
  border-left: 2px solid black; 
  border-top: 2px solid black; 
  border-bottom: 2px solid black;
}
